
tftathome/.vs

tftathome/Properties/launchSettings.json
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.GeneratedMSBuildEditorConfig.editorconfig
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.csproj.AssemblyReference.cache
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.assets.cache
TFTAtHomeTests/bin/Debug/net8.0/CoverletSourceRootsMapping_TFTAtHomeTests
TFTAtHomeTests/bin/Debug/net8.0/TFTAtHome.dll
TFTAtHomeTests/bin/Debug/net8.0/TFTAtHome.pdb
TFTAtHomeTests/bin/Debug/net8.0/TFTAtHomeTests.dll
TFTAtHomeTests/bin/Debug/net8.0/TFTAtHomeTests.pdb
TFTAtHomeTests/obj/Debug/net8.0/ref/TFTAtHomeTests.dll
TFTAtHomeTests/obj/Debug/net8.0/refint/TFTAtHomeTests.dll
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.AssemblyInfo.cs
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.AssemblyInfoInputs.cache
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.csproj.AssemblyReference.cache
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.dll
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.pdb
TFTAtHomeTests/obj/Debug/net8.0/TFTAtHomeTests.sourcelink.json
tftathome/.idea/.idea.TFTAtHome/.idea/copilot/chatSessions/00000000000.xd
tftathome/.idea/.idea.TFTAtHome/.idea/copilot/chatSessions/blobs/version
tftathome/.idea/.idea.TFTAtHome/.idea/copilot/chatSessions/xd.lck
/TFTAtHomeTests/obj
/TFTAtHomeTests/obj
/TFTAtHomeTests/bin
